<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method1(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method1</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method1(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method1</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method1(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method1</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method1(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method1</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>160</td> <td title="&lt;&lt;SampleDataProviderTestNGTest.method10()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method10</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method2()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method2</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method3()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method3</td> 
<td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method5(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method5</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method5(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method5</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method5(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method5</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleDataProviderTestNGTest.method5(java.lang.String)[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">method5</td> 
  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleDataProviderTestNGTest.method7()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method7</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleDataProviderTestNGTest.method8()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&lt;&lt;method8</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
<tr bgcolor="89ddb2">  <td>19/08/12 14:49:17</td>   <td>-34</td> <td title="&gt;&gt;SampleDataProviderTestNGTest.method9()[pri:0, instance:com.progleasing.SampleDataProviderTestNGTest@3bf7ca37]">&gt;&gt;method9</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1966124444</td>   <td></td> </tr>
</table>
